// Font Family

// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$montRegular: 'Mont-Regular';
$montExtraLight:'Mont-ExtraLight';
$montBlack:'Mont-Black';
$montBold:'Mont-Bold';
$montSemiBold:'Mont-SemiBold';
$montThin:'Mont-Thin';
$montHeavy:'Mont-Heavy';
$montLight:'Mont-Light';

@font-face {
  font-family: 'Mont-ExtraLight';
  src: url('../../assets/fonts/Mont-ExtraLight.eot');
  src: url('../../assets/fonts/Mont-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Mont-ExtraLight.woff2') format('woff2'),
      url('../../assets/fonts/Mont-ExtraLight.woff') format('woff'),
      url('../../assets/fonts/Mont-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Black';
  src: url('../../assets/fonts/Mont-Black.eot');
  src: url('../../assets/fonts/Mont-Black.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Mont-Black.woff2') format('woff2'),
      url('../../assets/fonts/Mont-Black.woff') format('woff'),
      url('../../assets/fonts/Mont-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Bold';
  src: url('../../assets/fonts/Mont-Bold.eot');
  src: url('../../assets/fonts/Mont-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Mont-Bold.woff2') format('woff2'),
      url('../../assets/fonts/Mont-Bold.woff') format('woff'),
      url('../../assets/fonts/Mont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont-SemiBold';
  src: url('../../assets/fonts/Mont-SemiBold.eot');
  src: url('../../assets/fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Mont-SemiBold.woff2') format('woff2'),
      url('../../assets/fonts/Mont-SemiBold.woff') format('woff'),
      url('../../assets/fonts/Mont-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Thin';
  src: url('../../assets/fonts/Mont-Thin.eot');
  src: url('../../assets/fonts/Mont-Thin.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Mont-Thin.woff2') format('woff2'),
      url('../../assets/fonts/Mont-Thin.woff') format('woff'),
      url('../../assets/fonts/Mont-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Regular';
  src: url('../../assets/fonts/Mont-Regular.eot');
  src: url('../../assets/fonts/Mont-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Mont-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Mont-Regular.woff') format('woff'),
      url('../../assets/fonts/Mont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Heavy';
  src: url('../../assets/fonts/Mont-Heavy.eot');
  src: url('../../assets/fonts/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Mont-Heavy.woff2') format('woff2'),
      url('../../assets/fonts/Mont-Heavy.woff') format('woff'),
      url('../../assets/fonts/Mont-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Light';
  src: url('../../assets/fonts/Mont-Light.eot');
  src: url('../../assets/fonts/Mont-Light.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Mont-Light.woff2') format('woff2'),
      url('../../assets/fonts/Mont-Light.woff') format('woff'),
      url('../../assets/fonts/Mont-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}









// Font Size

h1,.h1 {
    font-size: rem(30);
    font-weight: 700;
    line-height: 36px;
    color: var(--text-primary-color);
  }
  
  h2,.h2 {
    font-size: rem(25);
    font-weight: 400;
    color: var(--text-primary-color);
  }
  
  h3,.h3 {
    font-size: rem(22);
    font-weight: 400;
    color: var(--text-primary-color);
  }
  
  h4,.h4 {
    font-size: rem(18);
    font-weight: 400;
    color: var(--text-primary-color);
  }
  
  h5,.h5 {
    font-size: rem(16);
    font-weight: 400;
    color: var(--text-primary-color);
  }
  
  h6,.h6 {
    font-size: rem(14);
    font-weight: 400;
    color: var(--text-primary-color);
  }

  p{
    font-size: rem(14);
    font-weight: 400;
    color: var(--text-primary-color);
  }