<div class="row pb-5">
    <app-fare-details-header fareTitle="Hotel Itinerary Details"></app-fare-details-header>
    <div class="hotel__summary__card mb-1">
        <div class="card__header d-flex align-items-center">
            <div class="row col-12 mx-0">
                <div class="col-md-8 d-flex align-items-center px-0 gap-3">
                    <img src="../../../../../../assets/img/logo.svg" alt="Logo">
                    <div class="d-flex align-items-center gap-3  border-left-1 ps-3 ">
                        <i class="pi pi-check"></i>
                        <p>Hotel reservation has been  <br>successfully processed</p>
                    </div>
                </div>
                <div class="col-md-4 text-end px-0">
                    <img src="../../../../../../assets/img/barcode.png">
                </div>
            </div>
        </div>  
    </div>
    <div class="row my-4 mx-0">
        <div class="col-12 px-0">
            <h3 class="itenaryTitle">BOOKING DETAILS</h3>
            <div class="d-flex gap-5 align-items-center border p-3">
                <div class="invoice_headers">
                    <p>Supplier Reference</p>
                    <h4>KO454125451231121 </h4>
                </div>
                <div class="invoice_headers">
                    <p>Booking Date</p>
                    <h4>23 SEPTEMBER 2022</h4>
                </div>
                <div class="invoice_headers">
                    <p>Hotel Confirmation</p>
                    <h4>KO454125451231121</h4>
                </div>
               
            </div>
        </div>
    </div>
    <div class="flight__Itinerary__Details__outer">
        <div class="fare_details mb-3">
            <h3 class="itenaryTitle text-uppercase">Hotel Summary</h3>
            <div class="card mt-2 mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="hotel__image" style="background: url(assets/img/hotel/top2.jpg);"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-0 pe-4 py-3">
                            <h4 class="card-title">Movenpick Hotel Doha</h4>
                            <div class="d-flex align-items-center gap-2 locationDetails">
                                <p>Ikeja GRA, Lagos</p>
                                <span>4.8 km from LOS-Murtala Muhammed Intl</span>
                            </div>
                            <div class="hotel_fecilities_block pt-3 d-flex align-items-center mb-4">
                                <div class="hotel__rating d-flex align-items-center  px-2 gap-1 me-3">
                                    <h6>5</h6><img src="assets/img/icons/star1.png" alt="" style="width: 12px;">
                                </div>
                                <span class="hotel_comment py-2 ps-3 me-3">Excellent</span>
                                <span class="Hotel_review py-2 ps-3">12 Reviews</span>
                            </div>
                            <hr/>
                            <div class="row hotel__roomFacilities">
                                <div class="col-md-6 d-flex justify-content-between">
                                    <div class="roomType">
                                        <h4>Deluxe Room</h4>
                                        <h6>Room Only</h6>
                                    </div>
                                    <div class="hotel_checkin pe-4">
                                        <h5>Check - In</h5>
                                        <h4>21 Jan ‘ 23</h4>
                                        <p>Wednesday</p>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex justify-content-between">
                                    <div class="hotel_checkin">
                                        <h5>Check - Out</h5>
                                        <h4>21 Jan ‘ 23</h4>
                                        <p>Wednesday</p>
                                    </div>
                                    <div class="hotel_roomsDetails">
                                        <h5>Rooms / Guest</h5>
                                        <h4>2 Rooms / 4 Adult </h4>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="flight__Itinerary__tableOuter p-0">
            <table class="table">
                <thead>
                    <th>Guest Name</th>
                    <th>Room Type</th>
                    <th>No of guest</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h6>Mr.Faris Gaffoor</h6>
                        </td>
                        <td>
                            <h6>512 - 09886756746</h6>
                        </td>
                        <td>
                            <h6>3 Gust</h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 
</div>
