<h2 class="my-4">   <b>FORGOT PASSWORD</b></h2>
<hr />


<div class="forgotCard"  *ngIf="isForgot; else otpCard">

    <form >
        <div class="row">
            <div class="col-md-12 mb-4">
                <app-input-field [title]="'Email'" [isRequired]=true ></app-input-field>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-6  align-self-end">
                <button class="p-button-primary p-button w-100 py-3 text-center d-flex justify-content-center mb-4" (click)="this.isForgot = !this.isForgot;" >Send</button>

                <p class="p__forgot"><a (click)="backLogin()">Back to Login</a></p>
            </div>
        </div>
    </form>
</div>
<ng-template #otpCard>
    <ng-container *ngIf="isConfirmOtp==false; else otpSuccess">
        <div class="forgotCard otpVerification" >
            <h6 class="text-center mb-4">Enter Verification Code</h6>
            <div class="d-flex align-items-center gap-3 justify-content-center">
                <input class="inputOtp"
                    #inputEl
                    *ngFor="let input of inputs.controls; let i = index"
                    (focus)="handleFocus($event)"
                    (blur)="onTouched?.()"
                    (keypress)="handleKeyPress($event, i)"
                    (input)="handleInput()"
                    (keydown)="handleKeyDown($event, i)"
                    (paste)="handlePaste($event, i)"
                    [formControl]="$any(input)"
                    [attr.autocomplete]="i === 0 ? 'one-time-code' : null"
                    type="text"
                    inputmode="numeric"
                    />
            </div>
            <p>If you didn’t receive any code , <a href="#">Resend</a></p>
            <div class="col-md-12 px-5">
                <button class="p-button-primary p-button w-100 py-3 text-center d-flex justify-content-center mb-4" (click)="this.isConfirmOtp = !this.isConfirmOtp" >Confirm</button>
            </div>
        </div>
    
    </ng-container>
</ng-template>

<ng-template #otpSuccess>
    <ng-container *ngIf="isEnterNewPassword == false; else passwordSuccess">
        <div class="forgotCard newPassword  px-5" >
            <form >
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <app-input-field [title]="'Enter New Password'" type="password" [isRequired]=true ></app-input-field>
                    </div>
                    <div class="col-md-12 mb-4">
                        <app-input-field [title]="'Confirm Password'" type="password" [isRequired]=true ></app-input-field>
                    </div>
                    <div class="col-md-12">
                        <button class="p-button-primary p-button w-100 py-3 text-center d-flex justify-content-center mb-4" (click)="this.isEnterNewPassword = !this.isEnterNewPassword" >Confirm</button>
                    </div>
                </div>
            
            </form>
        </div>
    </ng-container>
  
</ng-template>

<ng-template #passwordSuccess>
    <div class="d-flex align-items-center ht-40 my-5" >
        <div class="sucessMessage d-flex gap-3 align-items-center">
            <div class="iconSuccess">
                <img src="../../../assets/img/icons/icon-success.svg" alt="icon-success">
            </div>
            <div class="contentArea">
                <h4>SUCCESSFULL</h4>
                <p>Your Password Change Successfully.</p>
            </div>
        </div>
    </div>
</ng-template>


