<div class="modalOuter">
    <div class="zero_fetch text-center py-5">
        <img src="../../../assets/img/session_expire.png" alt="" class="im-fluid">
        <div class="mb-3">
            <h2>Your session has expired !</h2>
            <p>would you like to refresh ?</p>
        </div>
        <div class="row align-items-center justify-content-center mb-1">
            <div class="d-flex align-items-center gap-3">
                <p-button label="Refresh" styleClass="p-button-outlined p-button-info px-4 py-3" (click)="refreshPage()"></p-button>
                <!-- <button class="btn-action p-ripple p-button hvr-sweep-to-right" (click)="refreshPage()"></button> -->
                <button type="button" class="p-ripple p-button-primary p-button hvr-sweep-to-right btn-primary-continue py-3" [routerLink]="['/']"
                    ><span class="p-button-label"> Go Back To Home </span></button>
            </div>
        </div>
    </div>
</div>