<!-- <div class="p-float-label trvSelectCountryGroup">
    <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
        <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value"  *ngIf="selectedCountry">
                <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry?.code.toLowerCase()" />
                <div>{{selectedCountry.name}}</div>
            </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code?.toLowerCase()" />
                <div>{{country.name}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <label for="float-input">{{title}}</label>
</div> -->
<div class="flex flex-column gap-2  trvSelectCountryGroup">
<label for="float-input">{{title}}</label>
<p-dropdown [options]="optionList" [formControl]="formControls" optionLabel="name" [filter]="true" filterBy="name"
	[showClear]="true" placeholder="Select">
	<ng-template pTemplate="selectedItem">
		<div class="country-item country-item-value" *ngIf="formControls.value">
			<div>{{formControls?.value?.name}}</div>
		</div>
	</ng-template>
	<ng-template let-country pTemplate="item">
		<div class="country-item">
			<div>{{country?.name}}</div>
		</div>
	</ng-template>
</p-dropdown>
</div>

