<div class="affliateCard container">
    <div *ngIf="showLogin">
        <div  class="mb-4">
            <h2> Continue as <b> Affiliate? </b></h2>
            <p class="line"><span>If you already have an account, log in here for a better experience.</span></p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginAffiliate()">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <app-input-field [title]="'Email'" [isRequired]=true [formControls]="user_email"></app-input-field>
                </div>
                <div class="col-md-12 mb-4">

                    <app-input-field [title]="'Password'" type="password" [isRequired]=true
                        [formControls]="password"></app-input-field>
                        <h6 class="password_style" (click)="forgotPassword(false)">Forgot Password</h6>
                </div>
                
            </div>
            <div class="row justify-content-end">
                <div class="col-md-6  align-self-end">
                    <button class="p-button-success p-button w-100 py-3 text-center d-flex justify-content-center mb-4" (click)="loginAsGuest()"
                        type="button">Continue as guest</button>
                </div>
                <div class="col-md-6  align-self-end">
                    <button
                        class="p-button-primary p-button w-100 py-3 text-center d-flex justify-content-center mb-4">Login</button>
    
                    <!-- <p class="p__forgot">Forgot Password ? <a href="#">Click here to reset</a></p> -->
                </div>
            </div>
            <!-- <div class="row py-5 mx-0">
                <p class="line"><span>Or</span></p>
            </div> -->
    
            <!-- <h2 class="mb-4">BE A PART OF <b>US</b></h2>
            <div class="d-flex justify-content-center ">
                <button class="p-button-primary p-button px-5 py-3 text-center d-flex justify-content-center mb-4  "
                    (click)="this.isLogin = !this.isLogin;">Register</button>
            </div> -->
    
    
        </form>
    </div>

    <div *ngIf="!showLogin">
        <div  class="mb-4 d-flex justify-content-between align-item-center">
            <h2><b> Forgot Password </b></h2>
            <h3 class="password_style" (click)="backToLogin()">Log in</h3>
        </div>
        <div class="col-md-12 mb-4">
            <app-input-field [title]="'Email'" type="email" [isRequired]=true [formControls]="email"></app-input-field>
        </div>
        <ng-container *ngIf="otp_show">
            <div class="col-md-12 mb-4">
                <app-input-field [title]="'Otp'" type="number" [isRequired]=true [formControls]="otp_input"></app-input-field>
            </div>
            <div class="col-md-12 mb-4">
                <app-input-field [title]="'Password'"  [isRequired]=true [formControls]="new_password"></app-input-field>
                <div *ngIf="new_password.touched || new_password.dirty">
                    <small class="text-danger error" *ngIf="new_password.hasError('pattern')">
                        The password must be at least 8 characters, include 1 uppercase letter, 1 number, and 1 special character. No spaces allowed
                    </small>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <app-input-field [title]="'Re-Enter Password'" [isRequired]=true (blur)="checkPasswordsMatch()" [formControls]="re_password"></app-input-field>
                <div *ngIf="re_password.touched || re_password.dirty">
                    <small class="text-danger error" *ngIf="re_password.hasError('passwordMismatch')">Passwords do not match.</small>
                </div>
            </div>
        </ng-container>

        <div class="row justify-content-end">
            <div class="col-md-12  align-self-end">
                <button class="p-button-success p-button w-100 py-3 text-center d-flex justify-content-center mb-4 gap 2 align-item-center" (click)="generateOtp()"
                    type="button"><span class="button__text me-2">{{otp_show? 'Reset': 'Generate OTP'}} </span> <i *ngIf="forgetLoading" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
                    </button>
            </div>
        </div>
    </div>
</div>



<!-- <ul>
    <li [class.currentTab]="activeIndex === 0" (click)="activeIndex = 0" >LOGIN</li>
    <li [class.currentTab]="activeIndex === 1" (click)="activeIndex = 1" >SIGN UP</li>
</ul>
<hr/> -->

<!-- <div class="loginPage"  [class.loginPageActive]="activeIndex === 0">
   
        <form> 
            <div class="row">
                <div class="col-md-12 mb-4">
                    <app-input-field [title]="'Email'" [isRequired]=false></app-input-field>
                </div>
                <div class="col-md-12 mb-4">
                    <app-input-field [title]="'Password'" type="password" [isRequired]=false></app-input-field>
                </div>
            </div> 
            <div class="row justify-content-end">
                <div class="col-md-12  align-self-end mb-5">
                    <button class="p-button-primary p-button w-100 py-3 text-center d-flex justify-content-center mb-4">Login</button>
                    <p class="p__forgot">Forgot Password ? <a  (click)="forgotPassword()">Click here to reset</a></p>
                </div>
            </div>
        </form>
       
</div> -->
<!-- <div class="signUpPage"  [class.loginPageActive]="activeIndex === 1">
   
        <form> 
            <div class="row">
                <div class="col-md-12 mb-4">
                    <app-input-field [title]="'Email'" [isRequired]=false></app-input-field>
                </div>
                <div class="col-md-12 mb-4">
                    <app-input-field [title]="'Full Name'" [isRequired]=false></app-input-field>
                </div>
                <div class="col-md-12 mb-4">
                    <app-input-field [title]="'Password'" type="password" [isRequired]=false></app-input-field>
                </div>
            </div> 
            <div class="row justify-content-end">
                <div class="col-md-12  align-self-end mb-5">
                    <button class="p-button-primary p-button w-100 py-3 text-center d-flex justify-content-center ">Sign Up</button>
                </div>
            </div>
        </form>
       
</div> -->

<!-- <p-dialog  appendTo="body" [(visible)]="forgotWindow" [modal]="true" styleClass="forgotPageModal"  [draggable]="false" [resizable]="true">
    <app-forgot-password (isForgotClose)="backToLogin($event)"></app-forgot-password>
</p-dialog> -->