.packages {
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: var(--primary-color);
  }
  p {
    font-weight: 400;
    font-size: 16px;
    color:var(--bg-gray-color);
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
  }
  h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-300);
  }
  .card {
    background: #ffffff;
    box-shadow: 11px 13px 25px 6px #F0F0F0;
    border-radius: 15px;
    border: none;
    padding-bottom: 25px;
    z-index: -1;
    .card-body {
      padding: 0px;
      border-radius: 1px 0px 0px 1px;
    }
  }
}
