<section>
    <div class=" packages">
        <div class="d-flex" style="gap:10px;">
            <img src="assets/img/icons/logoicon.png" alt="" height="30px">
            <div>
                <h2>Trending Deals of Hotel</h2>
                <p>Select your top deals with exciting offers</p>
            </div>
        </div>
    
        <div class="row mt-3 mb-3 slides" style="direction:ltr;">
            <owl-carousel-o [options]="customOptionsHotel">

                <ng-container>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img class="card-img-top" src="assets/img/hotel/deal1.png" alt="Bologna">
                            <div class="card-body mt-2">
                                <div class="pt-2 pb-2 ps-2" [dir]="'dir' | translate">
                                    <h4 class="card-title">Visit Turkey</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Save up to 300 QAR </h6>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img class="card-img-top" src="assets/img/hotel/deal2.png" alt="Bologna">
                            <div class="card-body mt-2">
                                <div class="pt-2 pb-2 ps-2">
                                    <h4 class="card-title">Visit Turkey</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Save up to 300 QAR </h6>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img class="card-img-top" src="assets/img/hotel/deal3.png" alt="Bologna">
                            <div class="card-body mt-2">
                                <div class="pt-2 pb-2 ps-2">
                                    <h4 class="card-title">Visit Turkey</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Save up to 300 QAR </h6>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img class="card-img-top" src="assets/img/hotel/deal4.png" alt="Bologna">
                            <div class="card-body mt-2">
                                <div class="pt-2 pb-2 ps-2">
                                    <h4 class="card-title">Visit Turkey</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Save up to 300 QAR </h6>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img class="card-img-top" src="assets/img/hotel/deal2.png" alt="Bologna">
                            <div class="card-body mt-2">
                                <div class="pt-2 pb-2 ps-2">
                                    <h4 class="card-title">Visit Turkey</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Save up to 300 QAR </h6>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img class="card-img-top" src="assets/img/hotel/deal1.png" alt="Bologna">
                            <div class="card-body mt-2">
                                <div class="pt-2 pb-2 ps-2">
                                    <h4 class="card-title">Visit Turkey</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Save up to 300 QAR </h6>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
    
            </owl-carousel-o>
        </div>
    </div>
</section>