<h2 class="mb-4"> {{isLogin? "LOGIN TO YOUR" : "JOIN OUR"}} <b>AFFILATE PROGRAM</b></h2>

<!-- <button (click)=ss()> ssss</button> -->

<hr />

<!-- <h2 class="mb-4">JOIN OUR <b>AFFILATE PROGRAM</b></h2>

    <hr class="mb-5" /> -->


<!-- <ng-container *ngIf="_2FAEnabled==true;">
    <div class="affliateCard container">
        <form [formGroup]="affiliateRegForm" (ngSubmit)="registerAffiliate()">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Business Name'" [isRequired]=true
                        [formControls]="businessname"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Lead User First Name'" [isRequired]=true
                        [formControls]="userfname"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Lead User Last Name'" [isRequired]=true
                        [formControls]="userlname"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Email'" [isRequired]=true [formControls]="email"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-country-with-state [title]="'Select Your Country'" [isRequired]="false"
                        [formControls]="country" [optionList]="countryOptionList"></app-country-with-state>
                </div>
                <div class="col-md-6 mb-4">
                    <app-state-selection [title]="'Select Your State'" [isRequired]="false" [formControls]="state"
                        [optionList]="stateOptionList"></app-state-selection>
                </div>
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Office Address'" [isRequired]=true
                        [formControls]="office_addr"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-phone-number-filed [title]="'Code'" [isRequired]=true
                        [formControls]="phonenumber"></app-phone-number-filed>
                </div>

            </div>
            <div class="row justify-content-end mb-4">
                <div class="col-md-5  align-self-end">
                    <button type="submit"
                        class="p-button-primary p-button w-100 py-3 text-center d-flex justify-content-center mb-4">Submit</button>
                    <button type="button"
                        class="p-button-outlined p-button w-100 py-3 text-center d-flex justify-content-center mb-4"
                        (click)="isLogin=true;">Click Here To Login</button>
                </div>
            </div>


        </form>
    </div>
</ng-container> -->
<!-- JOIN OUR AFFILATE PROGRAM -->
<ng-container *ngIf="isRegisterd==false; else registrationSuccess">
    <div class="affliateCard container">
        <!-- {{affiliateRegForm.value | json}} -->
        <form [formGroup]="affiliateRegForm" (ngSubmit)="registerAffiliate()">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Business Name'" [isRequired]=true
                        [formControls]="businessname"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Lead User First Name'" [isRequired]=true
                        [formControls]="userfname"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Lead User Last Name'" [isRequired]=true
                        [formControls]="userlname"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Email'" [isRequired]=true [formControls]="email"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <!-- <app-select-field [title]="'Select Your Country'" [option]="country"></app-select-field> -->
                    <app-country-with-state [title]="'Select Your Country'" [isRequired]="false"
                        [formControls]="country" [optionList]="countryOptionList"></app-country-with-state>
                </div>
                <div class="col-md-6 mb-4">
                    <!-- <app-select-field [title]="'Select Your State'"></app-select-field> -->
                    <app-state-selection [title]="'Select Your State'" [isRequired]="false" [formControls]="state"
                        [optionList]="stateOptionList"></app-state-selection>
                </div>
                <div class="col-md-6 mb-4">
                    <app-input-field [title]="'Office Address'" [isRequired]=true
                        [formControls]="office_addr"></app-input-field>
                </div>
                <div class="col-md-6 mb-4">
                    <app-phone-number-filed [title]="'Code'" [isRequired]=true
                        [formControls]="phonenumber"></app-phone-number-filed>
                </div>
                <div class="col-md-6 mb-4">
                    <!-- File Upload for Supporting Document -->
                  <label style="font-size: 14px;">Company Logo</label>
                  <input type="file" (change)="onLogoFileSelected($event)" class="form-control "style="font-size: 17px; margin: 10px 0 5px;;"  />
                  <span *ngIf="affiliateRegForm.get('companyLogo')?.errors && isSubmitted" class="text-danger mt-4" style="font-size: 12px;">
                    Company Logo is required
                  </span>
                  </div>
                    <div class="col-md-12 mb-3">

                        <div class="p-field-checkbox me-4 mb-3">
                            <p-checkbox value="true" formControlName="termsAccepted" inputId="I agree to the"></p-checkbox>
                            <a href="/terms-and-conditions" class="terms-text"><label for="direct">Terms and conditions </label></a>
                        </div>
                        <div>
                            <span *ngIf="affiliateRegForm.get('termsAccepted')?.errors && isSubmitted" class="text-danger mt-4" style="font-size: 12px;">
                                Please Tick Terms And Conditions Checkbox
                              </span>
                        </div>
                    </div>

                    
            </div>
            <div class="row justify-content-end mb-4">
                <!-- (click)="this.isRegisterd = !this.isRegisterd;" -->
                <div class="col-md-5  align-self-end">
                    <button type="submit"
                        class="p-button-primary p-button w-100 py-3 text-center d-flex justify-content-center mb-4">Submit</button>
                    <!-- <button type="button"
                        class="p-button-outlined p-button w-100 py-3 text-center d-flex justify-content-center mb-4"
                        (click)="isLogin=true;">Click Here To Login</button> -->
                </div>
            </div>


        </form>
    </div>
</ng-container>

<!-- Success Message-->
<ng-template #registrationSuccess>
    <div class="d-flex align-items-center ht-40" style="display: none !important;">
        <div class="affliateCardSucessMessage d-flex gap-3 align-items-center">
            <div class="iconSuccess">
                <img src="../../../assets/img/icons/icon-success.svg" alt="icon-success">
            </div>
            <div class="contentArea">
                <h4>SUCCESSFULL</h4>
                <p>Your Registration Request Has Been Sent Successfully.</p>
            </div>
            <div class="col-md-5  align-self-end">
                <button type="button"
                    class="p-button-outlined p-button w-100 py-3 text-center d-flex justify-content-center mb-4"
                    (click)="isLogin=true;">Click Here To Login</button>
            </div>
        </div>
    </div>
</ng-template>

<p-toast [appendTo]="'body'"></p-toast>

<!-- <app-pre-loader *ngIf="isLoading" [isLoadingComplete]=isLoading
    [loderTitle]="'we are finding the best flights for you'"></app-pre-loader> -->
<app-pre-loader *ngIf="isLoading" [isLoadingComplete]=isLoading [loderTitle]="'Loading'"></app-pre-loader>
<app-pre-loader *ngIf="isRequestLoading" [isLoadingComplete]=isRequestLoading [loderTitle]="'Loading'"></app-pre-loader>
<app-pre-loader *ngIf="isUploading" [isLoadingComplete]=isUploading [loderTitle]="'Upload in progress... '"></app-pre-loader>


<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="display: none;" id="register-template">
    <table width="670px" align="center"   style="background-color: #ffffff;margin: auto;padding: 15px;">
        <thead>
            <tr>
                <td align="center" colspan="3" style="text-align: center; border-bottom: 1px solid #ddd;" >
                    <table style="width:100%">
                        <tr>
                            <td>
                                <img style="display:block; line-height:0px; font-size:0px; border:0px; margin: auto;"
                                src="assets/img/logo.svg"
                                width="109"  alt="logo" />
                                <h4 style="font-size: 20px;margin: 0px; text-align: center;">Dear Konga Team</h4>
                                <p style="font-weight:400;margin: 10px;text-align: center;">Please verify the registration request from B2B portal</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;" colspan="3"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" style="padding-top: 20px;">
                    <p style="margin: 0;font-size: 14px;font-weight: 500;">REGISTRATION REQUESTED BY</p>
                    <table style="width: 100%;">
                        <thead align="left" style="font-size: 14px;"  >
                            <th style="border: 1px solid #ddd;padding: 10px;text-align: left; align-items: start;">Business Name</th>
                            <th style="border: 1px solid #ddd;padding: 10px;text-align: left; align-items: start;">User Name</th>
                            <th style="border: 1px solid #ddd;padding: 10px;text-align: left; align-items: start;">Phone</th>
                            <th style="border: 1px solid #ddd;padding: 10px;text-align: left; align-items: start;">Email</th>
                            <th style="border: 1px solid #ddd;padding: 10px;text-align: left; align-items: start;">Country</th>
                            <th style="border: 1px solid #ddd;padding: 10px;text-align: left; align-items: start;">State</th>
                            <th style="border: 1px solid #ddd;padding: 10px;text-align: left; align-items: start;">Office Address</th>
                        </thead>
                        <tbody style="font-size: 16px;">
                            <tr>
                                <td style="border: 1px solid #ddd;padding: 10px;">{{affiliateRegForm.value?.businessname}}</td>
                                <td style="border: 1px solid #ddd;padding: 10px;">{{affiliateRegForm.value?.userfname}} {{affiliateRegForm.value?.userlname}}</td>
                                <td *ngIf="affiliateRegForm.value?.phonenumber" style="border: 1px solid #ddd;padding: 10px;">{{affiliateRegForm.value?.phonenumber.dialCode}} {{affiliateRegForm.value?.phonenumber.number}}</td>
                                <td style="border: 1px solid #ddd;padding: 10px;">{{affiliateRegForm.value?.email}}</td>
                                <td style="border: 1px solid #ddd;padding: 10px;">{{affiliateRegForm.value?.state.value}}</td>
                                <td style="border: 1px solid #ddd;padding: 10px;">{{affiliateRegForm.value?.country.country}}</td>
                                <td style="border: 1px solid #ddd;padding: 10px;">{{affiliateRegForm.value?.office_addr}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px;" colspan="3">
                    <p style="margin: 0;font-size: 14px;font-weight: 500;"> OTHER DETAILS</p>                       
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table style="width: 100%; font-size: 16px;margin-bottom: 30px;" >
                        <tr>
                            <td style="border: 1px solid #ddd;padding: 10px;font-size: 14px;"><b>Company Logo</b></td>
                            <td style="border: 1px solid #ddd;padding: 10px;"><a [href]="affiliateRegForm.value?.companyLogo"  download>Download Logo</a></td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #ddd;padding: 10px;font-size: 14px;"><b>Terms & conditions</b></td>
                            <td style="border: 1px solid #ddd;padding: 10px;"><b>{{ affiliateRegForm.value?.termsAccepted[0] == 'true' ? 'Accepted' : 'Disagreed' }}</b></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</table>