
<div class="flex flex-column gap-2  trvSelectCountryGroup">
    <label for="float-input">{{title}}</label>
    <p-dropdown [options]="optionList" [formControl]="formControls" optionLabel="country" [filter]="true" filterBy="country"
        [showClear]="true" placeholder="Select">
        <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="formControls.value">
                <div>{{formControls?.value?.country}}</div>
            </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <div>{{country?.country}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    </div>
    
    