@import '../../../../../sass/all.scss';
.flight__PriceSelection{
   
    border: 1px solid var(--text-gray-100);
    border-bottom: 0;
    .flight__stopType{
        width: rem(150);
        display: inline-block;
        background: var(--bg-light-gray);
        padding-top: rem(25);
        border-bottom: 1px solid var(--text-gray-100);;
        table{
            tr{
                td{
                    font-weight: 700;
                    color: var(--text-primary-color);
                    padding: rem(15) rem(15);
                    text-align: center;
                }
               
            }
        }
    }
    .flight__listing{
        width: calc(100% - rem(150));
        display: inline-block;
        background: var(--color-white);
        overflow-x: auto;
        cursor: pointer;
        table{
            tr{
                th,td{
                    border-bottom: 1px solid var(--text-gray-100);
                    text-align: center;
                    width: rem(200);
                }
                td{
                    font-weight: 700;
                    color: var(--text-primary-color);
                    padding: rem(15) rem(15);
                    p{
                        font-size: rem(18);
                    }
                    &.selected{
                        p{
                            color: var(--color-white);
                        }
                    }
                }
               
            }
        }
    }
}

.selected
{
    cursor: pointer;
    background-color: var(--primary-color);
}