// Root

:root {
    --primary-color: #E7057E;
    --primary-color-hover:#bf0b6b;
    --bg-success-color: #28A745;
    --bg-success-color-100: #F0F0F0;
    --green-color: #2BBC13;
    --bg-gray-color:#898989;
    --bg-danger:#EB001B;
    --bg-danger-200:#C5012D;
    --bg-light-gray:#F8F8F8;
    --bg-white:#ffffff;
    --bg-light-red:#FDEDF6;
    --bg-red-light:#F8EAEB;
    --bg-dark-gray-color:#343A40;
    --bg-dark-teal-color:#22577A;
    --bg-gray-color-50:#f0f0f0;
    --bg-gray-color-100:#D9D9D9;
    --bg-gray-color-200:#E6E6E6;
    --bg-gray-color-300:#D9D9D9;
    --bg-gray-color-400:#fcfcf9;
    --bg-status-button:#EBF3EB;
    --bg-light-yellow:rgba(250, 222, 157, 0.31);
    --primary-gradient-light: linear-gradient(98.64deg, #E7057E -39.42%, #FADE9D 206.92%);
    --primary-gradient-dark: linear-gradient(90.43deg, #E7057E -32.04%, #5241B8 116.27%);
    --gradient-classic: linear-gradient(88.36deg, #0FC938 -12.66%, #FADE9D 182.33%);
    --gradient-comfort: linear-gradient(88.21deg, #FE7316 -12.77%, #FADE9D 186.08%);
    --gradient-Convenience: linear-gradient(88.49deg, #254AA5 -12.57%, #FADE9D 219.35%);
    --text-primary-color:#252525;
    --text-active-color:var(--primary-color);
    --text-secondary-color: #575757;
    --text-success-color: var(--bg-success-color);
    --text-danger-color:#EB001B;
    --text-gray-100: #E8E8E8;
    --text-gray-200: #898989;
    --text-white-color:#fff;
    --color-white:#fff;
    --black-color:#000;
    --card-shadow: 11px 13px 25px 6px #F0F0F0;
    --border-radius: 6px;
    --yellow:#FFAF00;
    --yellow-dark:#B48102;

   
}







