<!-- <div *ngIf="bredcrumbItems.length>1">
    <div class="innerPageBanner">
        <div class="container ">
            <div class="d-flex justify-content-md-center ">
                <h2>Exploring<br> <span>Made</span> Possible</h2>
                <img class="ms-2" src="assets/img/landingpage/shape.svg"/>
            </div>
        </div>
    </div>
    <div class="breadCrump">
        <div class="container" >
            <p-breadcrumb  [model]="bredcrumbItems" ></p-breadcrumb>
        </div>
    </div>
</div> -->


<!-- <div class="innerPageBanner">
    <div class="container ">
        <div class="d-flex justify-content-md-center py-4"> -->
            <!-- <h2>Exploring<br> <span>Made</span> Possible</h2> -->
            <!-- <img class="ms-2" src="assets/img/landingpage/shape.svg" /> -->
            <!-- <p>{{currentLink}}</p> -->
        <!-- </div>
    </div>
</div> -->
<div class="breadCrump">
    <div class="container">
        <app-ng-dynamic-breadcrumb [bgColor]="'#D9D9D9'" [fontColor]="'var(--text-secondary-color)'"
            [lastLinkColor]="'var(--color-white)'" [symbol]="''"></app-ng-dynamic-breadcrumb>
    </div>
</div>