<div class="fare_details mb-3">
    <h2>Hotel Summary</h2>
    <div class="card mt-2 mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="hotel__image" style="background: url(assets/img/hotel/top2.jpg);"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body p-0 pe-4 py-3">
                    <h4 class="card-title">Movenpick Hotel Doha</h4>
                    <div class="d-flex align-items-center gap-2 locationDetails">
                        <p>Ikeja GRA, Lagos</p>
                        <span>4.8 km from LOS-Murtala Muhammed Intl</span>
                    </div>
                    <div class="hotel_fecilities_block pt-3 d-flex align-items-center mb-4">
                        <div class="hotel__rating d-flex align-items-center  px-2 gap-1 me-3">
                            <h6>5</h6><img src="assets/img/icons/star1.png" alt="" style="width: 12px;">
                        </div>
                        <span class="hotel_comment py-2 ps-3 me-3">Excellent</span>
                        <span class="Hotel_review py-2 ps-3">12 Reviews</span>
                    </div>
                    <hr/>
                    <div class="row hotel__roomFacilities">
                        <div class="col-md-6 d-flex justify-content-between">
                            <div class="roomType">
                                <h4>Deluxe Room</h4>
                                <h6>Room Only</h6>
                            </div>
                            <div class="hotel_checkin pe-4">
                                <h5>Check - In</h5>
                                <h4>21 Jan ‘ 23</h4>
                                <p>Wednesday</p>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-between">
                            <div class="hotel_checkin">
                                <h5>Check - Out</h5>
                                <h4>21 Jan ‘ 23</h4>
                                <p>Wednesday</p>
                            </div>
                            <div class="hotel_roomsDetails">
                                <h5>Rooms / Guest</h5>
                                <h4>2 Rooms / 4 Adult </h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
