@import "../../../../sass/all.scss";
.flight__fare__details{
  border: rem(3) solid var(--primary-color);
  background: #FDEDF6;
  text-align: center;
  padding: rem(80) rem(20);
  border-top-right-radius: rem(5);
  border-top-left-radius: rem(5);
  h3{
      font-size: rem(30);
      font-family: $montBold;
      color: var(--primary-color);
  }
  p{
      font-size: rem(20);
      font-family: $montSemiBold;
      color: var(--primary-color);
  }
}

.flight__fare__card{
  background: var(--color-white);
  border: rem(1) solid var(--bg-gray-color-100);
  padding: rem(60) rem(20) rem(30);
  border-bottom-left-radius: rem(5);
  border-bottom-right-radius: rem(5);
  position: relative;
  .p-cercle-arrow{
      width: rem(60);
      height: rem(60);
      border-radius: rem(50);
      background: var(--bg-white);
      box-shadow: 0 0 15px #ddd;
      border: 0;
      position:absolute;
      left: 50%;
      margin-left: rem(-30);
      top: rem(-30);
      i{
          font-size: rem(22);
      }
  }
  h5{
      font-size: rem(18);
      font-family: $montBold;
      color: var(--text-primary-color);
  }
  h6{
    font-size: rem(16);
    color: var(--text-secondary-color);
    font-family: $montSemiBold;
  }
}
.change__flight__details{
  background: none;
  border: 0;
  padding: 0;
  font-size: rem(16);
  font-family: $montBold;
  i{
      color: var(--primary-color);
      margin-right: rem(5);
      font-size: rem(15);
  }
  &:hover{
      color: var(--primary-color);
  }
}